body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #e7e5dc;
  background-color: rgb(243, 194, 119);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 2.5%;
}

.btn {
  text-transform: uppercase;
  margin: 10px;
  padding: 5px;
  border: 2px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 11px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.question {
  width: 100%;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  background-color:cornflowerblue;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.question-info > span:first-child {
  margin-right: 5px;
}
.question-info > span:nth-child(2) {
  color:#eee8e8;
  font-size: 16px;
}
.question-info > div {
  color: #eee8e8;
  font-size: 10px;
}
.question-choice {
  font-size: 15px;
  margin: 10px 0;
  margin-right: 20px;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}