body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #e7e5dc;
  background-color: rgb(243, 194, 119);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 2.5%;
}

.btn {
  text-transform: uppercase;
  margin: 10px;
  padding: 5px;
  border: 2px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 11px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}